
@model PlacementTracker.Web.Models.JobApp.AddJobAppViewModel

@{
    ViewData["Title"] = "Create";
}


<div class="header">
	<h1 class="header-title">
		Add Job Application Activity
	</h1>
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="dashboard-default.html">Add Job Application Activity</a></li>
			<li class="breadcrumb-item"><a href="#">Add Job Application Activity</a></li>
		</ol>
	</nav>
</div>


<div class="col-12 col-xl-6">
	<div class="card">
		<div class="card-header">
			<h5 class="card-title">Add Job Application Activity</h5>
			<h6 class="card-subtitle text-muted">Enter Job Application Activity</h6>
		</div>
		<div class="card-body">
			<form asp-action="AddActivity">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				@Html.HiddenFor(m => m.UserId)
				@Html.HiddenFor(m => m.id)
				<div class="mb-3">
					<label asp-for="PlacementOrg" class="control-label"></label>
					<select asp-for="PlacementOrg" class="form-control" readonly>
						<option value="">Select Organisation</option>
						<option value="Kainos">Kainos</option>
						<option value="Alchemy Technology Services">Alchemy Technology Services</option>
						<option value="Company A">Company A</option>
						<option value="Company B">Company B</option>
					</select>
					<span asp-validation-for="PlacementOrg" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label asp-for="Position" class="control-label"></label>
					<input asp-for="Position" class="form-control" readonly />
					<span asp-validation-for="Position" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label asp-for="ActivityDate" class="control-label"></label>
					<input asp-for="ActivityDate" class="form-control" />
					<span asp-validation-for="ActivityDate" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label class="control-label">Activity</label>
					<select asp-for="Name" class="form-control">
						<option value="">Select Type</option>
						@* <option value="Applied For Job">Applied for Job</option> *@
						<option value="Attended Interview">Attended Interview</option>
						<option value="Received Unsuccessful Notice">Received Unsuccessful Notice</option>
						<option value="Received Job Offer">Received Job Offer</option>
					</select>
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
				
				<div class="mb-3">
					<label asp-for="Description" class="control-label"></label>
					<textarea asp-for="Description" class="form-control"></textarea>
					<span asp-validation-for="Description" class="text-danger"></span>
				</div>

				<input type="submit" value="Create" class="btn btn-primary" />

			</form>
		</div>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
